
.icon-accept-1 {
    background: url('icons/accept_1.png') no-repeat center center;
}

.icon-headphones-3 {
    background: url('icons/headphones_3.png') no-repeat center center;
}

.icon-pic-big-2 {
    background: url('icons/pic_big_2.png') no-repeat center center;
}

.icon-accept-cr {
    background: url('icons/accept_cr.png') no-repeat center center;
}

.icon-hearts {
    background: url('icons/hearts.png') no-repeat center center;
}

.icon-pic-big-3 {
    background: url('icons/pic_big_3.png') no-repeat center center;
}

.icon-accept-sq {
    background: url('icons/accept_sq.png') no-repeat center center;
}

.icon-help-1 {
    background: url('icons/help_1.png') no-repeat center center;
}

.icon-pic-big-4 {
    background: url('icons/pic_big_4.png') no-repeat center center;
}

.icon-add-sq-1 {
    background: url('icons/add_sq-1.png') no-repeat center center;
}

.icon-home-1-1 {
    background: url('icons/home_1_1.png') no-repeat center center;
}

.icon-pic-folder {
    background: url('icons/pic_folder.png') no-repeat center center;
}

.icon-add-sq {
    background: url('icons/add_sq.png') no-repeat center center;
}

.icon-home-1-2 {
    background: url('icons/home_1_2.png') no-repeat center center;
}

.icon-pic-stand-1 {
    background: url('icons/pic_stand_1.png') no-repeat center center;
}

.icon-aim-1 {
    background: url('icons/aim_1.png') no-repeat center center;
}

.icon-home-2-1 {
    background: url('icons/home_2_1.png') no-repeat center center;
}

.icon-pic-stand-2 {
    background: url('icons/pic_stand_2.png') no-repeat center center;
}

.icon-aim-2 {
    background: url('icons/aim_2.png') no-repeat center center;
}

.icon-home-2-2 {
    background: url('icons/home_2_2.png') no-repeat center center;
}

.icon-pikes {
    background: url('icons/pikes.png') no-repeat center center;
}

.icon-align-1 {
    background: url('icons/align_1.png') no-repeat center center;
}

.icon-home-3-1 {
    background: url('icons/home_3_1.png') no-repeat center center;
}

.icon-pin-add {
    background: url('icons/pin_add.png') no-repeat center center;
}

.icon-align-2 {
    background: url('icons/align_2.png') no-repeat center center;
}

.icon-home-3-2 {
    background: url('icons/home_3_2.png') no-repeat center center;
}

.icon-pin-minus {
    background: url('icons/pin_minus.png') no-repeat center center;
}

.icon-arange-1 {
    background: url('icons/arange_1.png') no-repeat center center;
}

.icon-home-4-1 {
    background: url('icons/home_4_1.png') no-repeat center center;
}

.icon-pinned-1 {
    background: url('icons/pinned_1.png') no-repeat center center;
}

.icon-arange-2 {
    background: url('icons/arange_2.png') no-repeat center center;
}

.icon-home-4-2 {
    background: url('icons/home_4_2.png') no-repeat center center;
}

.icon-pinned-2 {
    background: url('icons/pinned_2.png') no-repeat center center;
}

.icon-arrow-90-degreehorse {
    background: url('icons/arrow_90_degree.pnghorse.png') no-repeat center center;
}

.icon-pinned-3 {
    background: url('icons/pinned_3.png') no-repeat center center;
}

.icon-arrow-back-1 {
    background: url('icons/arrow_back_1.png') no-repeat center center;
}

.icon-icecream {
    background: url('icons/icecream.png') no-repeat center center;
}

.icon-pin {
    background: url('icons/pin.png') no-repeat center center;
}

.icon-arrow-cr {
    background: url('icons/arrow_cr.png') no-repeat center center;
}

.icon-ico-04 {
    background: url('icons/ico_04.png') no-repeat center center;
}

.icon-ico-377 {
    background: url('icons/377.png') no-repeat center center;
}

.icon-ico-403 {
    background: url('icons/377.png') no-repeat center center;
}

.icon-pizza {
    background: url('icons/pizza.png') no-repeat center center;
}

.icon-arrows-down-up {
    background: url('icons/arrows_down_up.png') no-repeat center center;
}

.icon-plane {
    background: url('icons/plane.png') no-repeat center center;
}

.icon-arrow-simple-1 {
    background: url('icons/arrow_simple_1.png') no-repeat center center;
}

.icon-play-cr {
    background: url('icons/play_cr.png') no-repeat center center;
}

.icon-arrow-simple-2info-cr {
    background: url('icons/arrow_simple_2.pnginfo_cr.png') no-repeat center center;
}

.icon-play-sq {
    background: url('icons/play_sq.png') no-repeat center center;
}

.icon-arrow-simple-3invert {
    background: url('icons/arrow_simple_3.pnginvert.png') no-repeat center center;
}

.icon-play-video {
    background: url('icons/play_video.png') no-repeat center center;
}

.icon-arrow-simple-chockkey-1 {
    background: url('icons/arrow_simple_chock.pngkey_1.png') no-repeat center center;
}

.icon-plus-simple-1 {
    background: url('icons/plus_simple_1.png') no-repeat center center;
}

.icon-arrow-simple-dkey-2 {
    background: url('icons/arrow_simple_d.pngkey_2.png') no-repeat center center;
}

.icon-power {
    background: url('icons/power.png') no-repeat center center;
}

.icon-arrow-simple-ulabel-add {
    background: url('icons/arrow_simple_u.pnglabel_add.png') no-repeat center center;
}

.icon-print-2 {
    background: url('icons/print-2.png') no-repeat center center;
}

.icon-arrow-sq {
    background: url('icons/arrow_sq.png') no-repeat center center;
}

.icon-label-minus {
    background: url('icons/label_minus.png') no-repeat center center;
}

.icon-prize-1 {
    background: url('icons/prize_1.png') no-repeat center center;
}

.icon-back-2 {
    background: url('icons/back-2.png') no-repeat center center;
}

.icon-label {
    background: url('icons/label.png') no-repeat center center;
}

.icon-prize-2 {
    background: url('icons/prize_2.png') no-repeat center center;
}

.icon-bag-1 {
    background: url('icons/bag_1.png') no-repeat center center;
}

.icon-laptop {
    background: url('icons/laptop.png') no-repeat center center;
}

.icon-prize-3 {
    background: url('icons/prize_3.png') no-repeat center center;
}

.icon-bag-2 {
    background: url('icons/bag_2.png') no-repeat center center;
}

.icon-layers-1 {
    background: url('icons/layers_1.png') no-repeat center center;
}

.icon-prize-5 {
    background: url('icons/prize_5.png') no-repeat center center;
}

.icon-bag-3-open {
    background: url('icons/bag_3_open.png') no-repeat center center;
}

.icon-layers-2 {
    background: url('icons/layers_2.png') no-repeat center center;
}

.icon-processor-1 {
    background: url('icons/processor_1.png') no-repeat center center;
}

.icon-bag-3 {
    background: url('icons/bag_3.png') no-repeat center center;
}

.icon-layers-3 {
    background: url('icons/layers_3.png') no-repeat center center;
}

.icon-processor-2 {
    background: url('icons/processor_2.png') no-repeat center center;
}

.icon-bag-4 {
    background: url('icons/bag_4.png') no-repeat center center;
}

.icon-location-1-addprofile-badge-1 {
    background: url('icons/location_1_add.pngprofile_badge_1.png') no-repeat center center;
}

.icon-baggage {
    background: url('icons/baggage.png') no-repeat center center;
}

.icon-location-1-minusprofile-badge-2 {
    background: url('icons/location_1_minus.pngprofile_badge_2.png') no-repeat center center;
}

.icon-battery-1-1 {
    background: url('icons/battery_1_1.png') no-repeat center center;
}

.icon-location-1 {
    background: url('icons/location_1.png') no-repeat center center;
}

.icon-profile-card {
    background: url('icons/profile_card.png') no-repeat center center;
}

.icon-battery-1-2 {
    background: url('icons/battery_1_2.png') no-repeat center center;
}

.icon-location-2 {
    background: url('icons/location_2.png') no-repeat center center;
}

.icon-profile-close-1-minus {
    background: url('icons/profile_close_1_minus.png') no-repeat center center;
}

.icon-battery-1-3 {
    background: url('icons/battery_1_3.png') no-repeat center center;
}

.icon-location-3-minusprofile-close-1 {
    background: url('icons/location_3_minus.pngprofile_close_1.png') no-repeat center center;
}

.icon-battery-1-4 {
    background: url('icons/battery_1_4.png') no-repeat center center;
}

.icon-location-3-plusprofile-close-2 {
    background: url('icons/location_3_plus.pngprofile_close_2.png') no-repeat center center;
}

.icon-battery-1-5 {
    background: url('icons/battery_1_5.png') no-repeat center center;
}

.icon-location-3-profileprofile-close-3 {
    background: url('icons/location_3_profile.pngprofile_close_3.png') no-repeat center center;
}

.icon-battery-2-1 {
    background: url('icons/battery_2_1.png') no-repeat center center;
}

.icon-location-4 {
    background: url('icons/location_4.png') no-repeat center center;
}

.icon-profile-close-add {
    background: url('icons/profile_close_add.png') no-repeat center center;
}

.icon-battery-2-2 {
    background: url('icons/battery_2_2.png') no-repeat center center;
}

.icon-lock-1-1 {
    background: url('icons/lock_1-1.png') no-repeat center center;
}

.icon-profile-cr-add {
    background: url('icons/profile_cr_add.png') no-repeat center center;
}

.icon-battery-2-3 {
    background: url('icons/battery_2_3.png') no-repeat center center;
}

.icon-lock-1-add {
    background: url('icons/lock_1_add.png') no-repeat center center;
}

.icon-profile-cr-minus {
    background: url('icons/profile_cr_minus.png') no-repeat center center;
}

.icon-battery-2-4 {
    background: url('icons/battery_2_4.png') no-repeat center center;
}

.icon-lock-1-exp {
    background: url('icons/lock_1_exp.png') no-repeat center center;
}

.icon-profile-cr {
    background: url('icons/profile_cr.png') no-repeat center center;
}

.icon-battery-2-5 {
    background: url('icons/battery_2_5.png') no-repeat center center;
}

.icon-lock-1-minus {
    background: url('icons/lock_1_minus.png') no-repeat center center;
}

.icon-profiles-1-add {
    background: url('icons/profiles_1_add.png') no-repeat center center;
}

.icon-bike {
    background: url('icons/bike.png') no-repeat center center;
}

.icon-lock-1 {
    background: url('icons/lock_1.png') no-repeat center center;
}

.icon-profiles-1-minus {
    background: url('icons/profiles_1_minus.png') no-repeat center center;
}

.icon-bluetooth {
    background: url('icons/bluetooth.png') no-repeat center center;
}

.icon-lock-2 {
    background: url('icons/lock_2.png') no-repeat center center;
}

.icon-profiles-1 {
    background: url('icons/profiles_1.png') no-repeat center center;
}

.icon-book-1-add {
    background: url('icons/book_1_add.png') no-repeat center center;
}

.icon-love-1-half {
    background: url('icons/love_1_half.png') no-repeat center center;
}

.icon-profiles-2-add {
    background: url('icons/profiles_2_add.png') no-repeat center center;
}

.icon-book-1-minus {
    background: url('icons/book_1_minus.png') no-repeat center center;
}

.icon-love-1-no {
    background: url('icons/love_1_no.png') no-repeat center center;
}

.icon-profiles-2-minus {
    background: url('icons/profiles_2_minus.png') no-repeat center center;
}

.icon-book-1 {
    background: url('icons/book_1.png') no-repeat center center;
}

.icon-love-1 {
    background: url('icons/love_1.png') no-repeat center center;
}

.icon-profiles-2 {
    background: url('icons/profiles_2.png') no-repeat center center;
}

.icon-book-2 {
    background: url('icons/book_2.png') no-repeat center center;
}

.icon-lucky-7 {
    background: url('icons/lucky_7.png') no-repeat center center;
}

.icon-profile-sq-add {
    background: url('icons/profile_sq_add.png') no-repeat center center;
}

.icon-book-3 {
    background: url('icons/book_3.png') no-repeat center center;
}

.icon-magnet {
    background: url('icons/magnet.png') no-repeat center center;
}

.icon-profile-sq-minus {
    background: url('icons/profile_sq_minus.png') no-repeat center center;
}

.icon-book-4 {
    background: url('icons/book_4.png') no-repeat center center;
}

.icon-mail-1-empty {
    background: url('icons/mail_1_empty.png') no-repeat center center;
}

.icon-profile-sq {
    background: url('icons/profile_sq.png') no-repeat center center;
}

.icon-box-2 {
    background: url('icons/box_2.png') no-repeat center center;
}

.icon-mail-1 {
    background: url('icons/mail_1.png') no-repeat center center;
}

.icon-puzzle {
    background: url('icons/puzzle.png') no-repeat center center;
}

.icon-box-3 {
    background: url('icons/box_3.png') no-repeat center center;
}

.icon-mail-2-empty {
    background: url('icons/mail_2_empty.png') no-repeat center center;
}

.icon-question-cr {
    background: url('icons/question_cr.png') no-repeat center center;
}

.icon-box {
    background: url('icons/box.png') no-repeat center center;
}

.icon-mail-2 {
    background: url('icons/mail_2.png') no-repeat center center;
}

.icon-rain {
    background: url('icons/rain.png') no-repeat center center;
}

.icon-bus {
    background: url('icons/bus.png') no-repeat center center;
}

.icon-mail-tag {
    background: url('icons/mail_tag.png') no-repeat center center;
}

.icon-ram {
    background: url('icons/ram.png') no-repeat center center;
}

.icon-cable-1 {
    background: url('icons/cable_1.png') no-repeat center center;
}

.icon-map-add {
    background: url('icons/map_add.png') no-repeat center center;
}

.icon-rec-cr {
    background: url('icons/rec_cr.png') no-repeat center center;
}

.icon-cable-2 {
    background: url('icons/cable_2.png') no-repeat center center;
}

.icon-map-minus {
    background: url('icons/map_minus.png') no-repeat center center;
}

.icon-rec-sq {
    background: url('icons/rec_sq.png') no-repeat center center;
}

.icon-calendar-add {
    background: url('icons/calendar_add.png') no-repeat center center;
}

.icon-map {
    background: url('icons/map.png') no-repeat center center;
}

.icon-refresh-1 {
    background: url('icons/refresh_1.png') no-repeat center center;
}

.icon-calendar-minusmath-1 {
    background: url('icons/calendar_minus.pngmath_1.png') no-repeat center center;
}

.icon-refresh-2 {
    background: url('icons/refresh_2.png') no-repeat center center;
}

.icon-calendar {
    background: url('icons/calendar.png') no-repeat center center;
}

.icon-math-2 {
    background: url('icons/math_2.png') no-repeat center center;
}

.icon-refresh-3 {
    background: url('icons/refresh_3.png') no-repeat center center;
}

.icon-cam-1 {
    background: url('icons/cam_1.png') no-repeat center center;
}

.icon-math-3 {
    background: url('icons/math_3.png') no-repeat center center;
}

.icon-remove-sq {
    background: url('icons/remove_sq.png') no-repeat center center;
}

.icon-cam-2-1 {
    background: url('icons/cam_2_1.png') no-repeat center center;
}

.icon-memo {
    background: url('icons/memo.png') no-repeat center center;
}

.icon-save-1-add {
    background: url('icons/save_1_add.png') no-repeat center center;
}

.icon-cam-2-2-no {
    background: url('icons/cam_2_2_no.png') no-repeat center center;
}

.icon-menu-1 {
    background: url('icons/menu_1.png') no-repeat center center;
}

.icon-save-1-minus {
    background: url('icons/save_1_minus.png') no-repeat center center;
}

.icon-cam-2-2 {
    background: url('icons/cam_2_2.png') no-repeat center center;
}

.icon-menu-2 {
    background: url('icons/menu_2.png') no-repeat center center;
}

.icon-save-1 {
    background: url('icons/save_1.png') no-repeat center center;
}

.icon-cam-3 {
    background: url('icons/cam_3.png') no-repeat center center;
}

.icon-menu-3 {
    background: url('icons/menu_3.png') no-repeat center center;
}

.icon-save-2 {
    background: url('icons/save_2.png') no-repeat center center;
}

.icon-cam-4 {
    background: url('icons/cam_4.png') no-repeat center center;
}

.icon-message-1-1 {
    background: url('icons/message_1-1.png') no-repeat center center;
}

.icon-scale-1-down {
    background: url('icons/scale_1_down.png') no-repeat center center;
}

.icon-caps-1-1 {
    background: url('icons/caps_1_1.png') no-repeat center center;
}

.icon-message-1-acceptscale-1 {
    background: url('icons/message_1_accept.pngscale_1.png') no-repeat center center;
}

.icon-caps-1-2 {
    background: url('icons/caps_1_2.png') no-repeat center center;
}

.icon-message-1-dotsscale-1-up {
    background: url('icons/message_1_dots.pngscale_1_up.png') no-repeat center center;
}

.icon-caps-2-1 {
    background: url('icons/caps_2_1.png') no-repeat center center;
}

.icon-message-1-exp {
    background: url('icons/message_1_exp.png') no-repeat center center;
}

.icon-search-1 {
    background: url('icons/search_1.png') no-repeat center center;
}

.icon-caps-2-2 {
    background: url('icons/caps_2_2.png') no-repeat center center;
}

.icon-message-1 {
    background: url('icons/message_1.png') no-repeat center center;
}

.icon-search-2 {
    background: url('icons/search_2.png') no-repeat center center;
}

.icon-caps-3-1 {
    background: url('icons/caps_3_1.png') no-repeat center center;
}

.icon-message-1-questionselection-1 {
    background: url('icons/message_1_question.pngselection_1.png') no-repeat center center;
}

.icon-caps-3-2 {
    background: url('icons/caps_3_2.png') no-repeat center center;
}

.icon-message-2-1 {
    background: url('icons/message_2-1.png') no-repeat center center;
}

.icon-selection-2 {
    background: url('icons/selection_2.png') no-repeat center center;
}

.icon-caps-4-1 {
    background: url('icons/caps_4_1.png') no-repeat center center;
}

.icon-message-2-acceptselection-3 {
    background: url('icons/message_2_accept.pngselection_3.png') no-repeat center center;
}

.icon-caps-4-2 {
    background: url('icons/caps_4_2.png') no-repeat center center;
}

.icon-message-2-add {
    background: url('icons/message_2_add.png') no-repeat center center;
}

.icon-selection-b-1 {
    background: url('icons/selection_b_1.png') no-repeat center center;
}

.icon-caps-back {
    background: url('icons/caps_back.png') no-repeat center center;
}

.icon-message-2-dotsselection-b-2 {
    background: url('icons/message_2_dots.pngselection_b_2.png') no-repeat center center;
}

.icon-car-1 {
    background: url('icons/car_1.png') no-repeat center center;
}

.icon-message-2-exp-1selection-b-3 {
    background: url('icons/message_2_exp-1.pngselection_b_3.png') no-repeat center center;
}

.icon-car-2 {
    background: url('icons/car_2.png') no-repeat center center;
}

.icon-message-2-exp {
    background: url('icons/message_2_exp.png') no-repeat center center;
}

.icon-selection-b-4 {
    background: url('icons/selection_b_4.png') no-repeat center center;
}

.icon-card-1-add {
    background: url('icons/card_1_add.png') no-repeat center center;
}

.icon-message-2-minussettings-1 {
    background: url('icons/message_2_minus.pngsettings_1.png') no-repeat center center;
}

.icon-card-1-exp {
    background: url('icons/card_1_exp.png') no-repeat center center;
}

.icon-message-2 {
    background: url('icons/message_2.png') no-repeat center center;
}

.icon-settings-2 {
    background: url('icons/settings_2.png') no-repeat center center;
}

.icon-card-1-minus {
    background: url('icons/card_1_minus.png') no-repeat center center;
}

.icon-message-2-questionsettings-sq {
    background: url('icons/message_2_question.pngsettings_sq.png') no-repeat center center;
}

.icon-card-1 {
    background: url('icons/card_1.png') no-repeat center center;
}

.icon-message-3-1 {
    background: url('icons/message_3-1.png') no-repeat center center;
}


.icon-card-clubs {
    background: url('icons/card_clubs.png') no-repeat center center;
}

.icon-message-3-accept {
    background: url('icons/message_3_accept.png') no-repeat center center;
}

.icon-card-hearts {
    background: url('icons/card_hearts.png') no-repeat center center;
}

.icon-message-3-dots {
    background: url('icons/message_3_dots.png') no-repeat center center;
}

.icon-card-pikes {
    background: url('icons/card_pikes.png') no-repeat center center;
}

.icon-Shape-581 {
    background: url('icons/Shape-581.png') no-repeat center center;
}

.icon-Shape-581-1 {
    background: url('icons/Shape-581-1.png') no-repeat center center;
}

.icon-Shape-581-2 {
    background: url('icons/Shape-581-2.png') no-repeat center center;
}

.icon-message-3-exp {
    background: url('icons/message_3_exp.png') no-repeat center center;
}

.icon-card-tiles {
    background: url('icons/card_tiles.png') no-repeat center center;
}

.icon-message-3 {
    background: url('icons/message_3.png') no-repeat center center;
}

.icon-share-1 {
    background: url('icons/share_1.png') no-repeat center center;
}

.icon-cart-1 {
    background: url('icons/cart_1.png') no-repeat center center;
}

.icon-message-3-questionshare-1-sq {
    background: url('icons/message_3_question.pngshare_1_sq.png') no-repeat center center;
}

.icon-cart-2 {
    background: url('icons/cart_2.png') no-repeat center center;
}

.icon-message-open-1share-2-d-sq {
    background: url('icons/message_open_1.pngshare_2_d_sq.png') no-repeat center center;
}

.icon-cart-3 {
    background: url('icons/cart_3.png') no-repeat center center;
}

.icon-message-open-2share-2-u-sq {
    background: url('icons/message_open_2.pngshare_2_u_sq.png') no-repeat center center;
}

.icon-chair-1 {
    background: url('icons/chair_1.png') no-repeat center center;
}

.icon-message-open-3share-arrows {
    background: url('icons/message_open_3.pngshare_arrows.png') no-repeat center center;
}

.icon-chair-2 {
    background: url('icons/chair_2.png') no-repeat center center;
}

.icon-messaging {
    background: url('icons/messaging.png') no-repeat center center;
}

.icon-share-chain-1 {
    background: url('icons/share_chain_1.png') no-repeat center center;
}

.icon-cherry {
    background: url('icons/cherry.png') no-repeat center center;
}

.icon-mic-no {
    background: url('icons/mic_no.png') no-repeat center center;
}

.icon-share-chain-2 {
    background: url('icons/share_chain_2.png') no-repeat center center;
}

.icon-cloud-1 {
    background: url('icons/cloud_1.png') no-repeat center center;
}

.icon-mic {
    background: url('icons/mic.png') no-repeat center center;
}

.icon-share-chain-3 {
    background: url('icons/share_chain_3.png') no-repeat center center;
}

.icon-cloud-2 {
    background: url('icons/cloud_2.png') no-repeat center center;
}

.icon-mini-arrow-2 {
    background: url('icons/mini_arrow_2.png') no-repeat center center;
}

.icon-share-chain-4 {
    background: url('icons/share_chain_4.png') no-repeat center center;
}

.icon-cloud-down {
    background: url('icons/cloud_down.png') no-repeat center center;
}

.icon-mini-arrow-90 {
    background: url('icons/mini_arrow_90.png') no-repeat center center;
}

.icon-share-chain-5 {
    background: url('icons/share_chain_5.png') no-repeat center center;
}

.icon-cloud-up {
    background: url('icons/cloud_up.png') no-repeat center center;
}

.icon-mini-arrow-backshare-chain-6 {
    background: url('icons/mini_arrow_back.pngshare_chain_6.png') no-repeat center center;
}

.icon-clubs {
    background: url('icons/clubs.png') no-repeat center center;
}

.icon-mini-arrow-shackshield-accept {
    background: url('icons/mini_arrow_shack.pngshield_accept.png') no-repeat center center;
}

.icon-code-sq {
    background: url('icons/code_sq.png') no-repeat center center;
}

.icon-mini-dots {
    background: url('icons/mini_dots.png') no-repeat center center;
}

.icon-shield-no {
    background: url('icons/shield_no.png') no-repeat center center;
}

.icon-compas-1 {
    background: url('icons/compas_1.png') no-repeat center center;
}

.icon-mini-exp {
    background: url('icons/mini_exp.png') no-repeat center center;
}

.icon-shield {
    background: url('icons/shield.png') no-repeat center center;
}

.icon-compas-2 {
    background: url('icons/compas_2.png') no-repeat center center;
}

.icon-mini-faster {
    background: url('icons/mini_faster.png') no-repeat center center;
}

.icon-ship {
    background: url('icons/ship.png') no-repeat center center;
}

.icon-connection-1 {
    background: url('icons/connection_1.png') no-repeat center center;
}

.icon-mini-info {
    background: url('icons/mini_info.png') no-repeat center center;
}

.icon-shirt-1 {
    background: url('icons/shirt_1.png') no-repeat center center;
}

.icon-connection-2 {
    background: url('icons/connection_2.png') no-repeat center center;
}

.icon-mini-minmize {
    background: url('icons/mini_minmize.png') no-repeat center center;
}

.icon-shirt-2 {
    background: url('icons/shirt_2.png') no-repeat center center;
}

.icon-copy-1 {
    background: url('icons/copy_1.png') no-repeat center center;
}

.icon-mini-minus {
    background: url('icons/mini_minus.png') no-repeat center center;
}

.icon-shop-1 {
    background: url('icons/shop_1.png') no-repeat center center;
}

.icon-copy-2 {
    background: url('icons/copy_2.png') no-repeat center center;
}

.icon-mini-next {
    background: url('icons/mini_next.png') no-repeat center center;
}

.icon-shop-2 {
    background: url('icons/shop_2.png') no-repeat center center;
}

.icon-copy-3 {
    background: url('icons/copy_3.png') no-repeat center center;
}

.icon-mini-pause {
    background: url('icons/mini_pause.png') no-repeat center center;
}

.icon-shos {
    background: url('icons/shos.png') no-repeat center center;
}

.icon-copy-4 {
    background: url('icons/copy_4.png') no-repeat center center;
}

.icon-mini-pen {
    background: url('icons/mini_pen.png') no-repeat center center;
}

.icon-site {
    background: url('icons/site.png') no-repeat center center;
}

.icon-crop-1-1 {
    background: url('icons/crop_1-1.png') no-repeat center center;
}

.icon-mini-play {
    background: url('icons/mini_play.png') no-repeat center center;
}

.icon-site-text {
    background: url('icons/site_text.png') no-repeat center center;
}

.icon-crop-1 {
    background: url('icons/crop_1.png') no-repeat center center;
}

.icon-mini-plus {
    background: url('icons/mini_plus.png') no-repeat center center;
}

.icon-sleep-2 {
    background: url('icons/sleep_2.png') no-repeat center center;
}

.icon-cs {
    background: url('icons/cs.png') no-repeat center center;
}

.icon-mini-question {
    background: url('icons/mini_question.png') no-repeat center center;
}

.icon-smartphone-add {
    background: url('icons/smartphone_add.png') no-repeat center center;
}

.icon-cut-2 {
    background: url('icons/cut-2.png') no-repeat center center;
}

.icon-mini-record {
    background: url('icons/mini_record.png') no-repeat center center;
}

.icon-smartphone-minus {
    background: url('icons/smartphone_minus.png') no-repeat center center;
}

.icon-data-1 {
    background: url('icons/data_1.png') no-repeat center center;
}

.icon-mini-search {
    background: url('icons/mini_search.png') no-repeat center center;
}

.icon-smartphone {
    background: url('icons/smartphone.png') no-repeat center center;
}

.icon-data-2 {
    background: url('icons/data_2.png') no-repeat center center;
}

.icon-mini-stop {
    background: url('icons/mini_stop.png') no-repeat center center;
}

.icon-smile-empers {
    background: url('icons/smile_empers.png') no-repeat center center;
}

.icon-data-3 {
    background: url('icons/data_3.png') no-repeat center center;
}

.icon-mini-uplize {
    background: url('icons/mini_uplize.png') no-repeat center center;
}

.icon-smile-happy-1 {
    background: url('icons/smile_happy_1.png') no-repeat center center;
}

.icon-data-4 {
    background: url('icons/data_4.png') no-repeat center center;
}

.icon-mini-x-1 {
    background: url('icons/mini_x_1.png') no-repeat center center;
}

.icon-smile-happy-2 {
    background: url('icons/smile_happy_2.png') no-repeat center center;
}

.icon-data-line {
    background: url('icons/data_line.png') no-repeat center center;
}

.icon-mini-x-2 {
    background: url('icons/mini_x_2.png') no-repeat center center;
}

.icon-smile-happy-3 {
    background: url('icons/smile_happy_3.png') no-repeat center center;
}

.icon-data-lines {
    background: url('icons/data_lines.png') no-repeat center center;
}

.icon-minus-simple {
    background: url('icons/minus_simple.png') no-repeat center center;
}

.icon-smile-meh-2 {
    background: url('icons/smile_meh_2.png') no-repeat center center;
}

.icon-delete-1 {
    background: url('icons/delete_1.png') no-repeat center center;
}

.icon-money-1 {
    background: url('icons/money_1.png') no-repeat center center;
}

.icon-smile-meh-3 {
    background: url('icons/smile_meh_3.png') no-repeat center center;
}

.icon-delete-2 {
    background: url('icons/delete_2.png') no-repeat center center;
}

.icon-money-sq {
    background: url('icons/money_sq.png') no-repeat center center;
}

.icon-smile-meh {
    background: url('icons/smile_meh.png') no-repeat center center;
}

.icon-delete-3 {
    background: url('icons/delete_3.png') no-repeat center center;
}

.icon-monitor-add {
    background: url('icons/monitor_add.png') no-repeat center center;
}

.icon-smile-sad-1 {
    background: url('icons/smile_sad_1.png') no-repeat center center;
}

.icon-delete-4 {
    background: url('icons/delete_4.png') no-repeat center center;
}

.icon-monitor-minus {
    background: url('icons/monitor_minus.png') no-repeat center center;
}

.icon-smile-sad-2 {
    background: url('icons/smile_sad_2.png') no-repeat center center;
}

.icon-diamond-1 {
    background: url('icons/diamond_1.png') no-repeat center center;
}

.icon-monitor {
    background: url('icons/monitor.png') no-repeat center center;
}

.icon-smile-sad-3 {
    background: url('icons/smile_sad_3.png') no-repeat center center;
}

.icon-diamond-2 {
    background: url('icons/diamond_2.png') no-repeat center center;
}

.icon-moon-1 {
    background: url('icons/moon_1.png') no-repeat center center;
}

.icon-smile-sad-4 {
    background: url('icons/smile_sad_4.png') no-repeat center center;
}

.icon-diamond-3 {
    background: url('icons/diamond_3.png') no-repeat center center;
}

.icon-moon-2 {
    background: url('icons/moon_2.png') no-repeat center center;
}

.icon-snow {
    background: url('icons/snow.png') no-repeat center center;
}

.icon-dice-1 {
    background: url('icons/dice_1.png') no-repeat center center;
}

.icon-moon-3 {
    background: url('icons/moon_3.png') no-repeat center center;
}

.icon-sock {
    background: url('icons/sock.png') no-repeat center center;
}

.icon-dice-2 {
    background: url('icons/dice_2.png') no-repeat center center;
}

.icon-moon-4 {
    background: url('icons/moon_4.png') no-repeat center center;
}

.icon-sound-1 {
    background: url('icons/sound_1.png') no-repeat center center;
}

.icon-dice-3 {
    background: url('icons/dice_3.png') no-repeat center center;
}

.icon-mouse-1 {
    background: url('icons/mouse_1.png') no-repeat center center;
}

.icon-sound-2 {
    background: url('icons/sound_2.png') no-repeat center center;
}

.icon-dice-4 {
    background: url('icons/dice_4.png') no-repeat center center;
}

.icon-mouse-2-click {
    background: url('icons/mouse_2_click.png') no-repeat center center;
}

.icon-sound-3 {
    background: url('icons/sound_3.png') no-repeat center center;
}

.icon-dice-5 {
    background: url('icons/dice_5.png') no-repeat center center;
}

.icon-mouse-2 {
    background: url('icons/mouse_2.png') no-repeat center center;
}

.icon-sound-no {
    background: url('icons/sound_no.png') no-repeat center center;
}

.icon-dice-6 {
    background: url('icons/dice_6.png') no-repeat center center;
}

.icon-move-1 {
    background: url('icons/move_1.png') no-repeat center center;
}

.icon-speaker-1 {
    background: url('icons/speaker_1.png') no-repeat center center;
}

.icon-door-1 {
    background: url('icons/door_1.png') no-repeat center center;
}

.icon-move-2 {
    background: url('icons/move_2.png') no-repeat center center;
}

.icon-speaker-2 {
    background: url('icons/speaker_2.png') no-repeat center center;
}

.icon-door-2 {
    background: url('icons/door_2.png') no-repeat center center;
}

.icon-move-3 {
    background: url('icons/move_3.png') no-repeat center center;
}

.icon-star-1-half {
    background: url('icons/star_1_half.png') no-repeat center center;
}

.icon-down-cr {
    background: url('icons/down_cr.png') no-repeat center center;
}

.icon-music-1-add {
    background: url('icons/music_1_add.png') no-repeat center center;
}

.icon-star-1-no {
    background: url('icons/star_1_no.png') no-repeat center center;
}

.icon-download-1 {
    background: url('icons/download_1.png') no-repeat center center;
}

.icon-music-1-minus {
    background: url('icons/music_1_minus.png') no-repeat center center;
}

.icon-star-1 {
    background: url('icons/star_1.png') no-repeat center center;
}

.icon-down-sq {
    background: url('icons/down_sq.png') no-repeat center center;
}

.icon-music-1 {
    background: url('icons/music_1.png') no-repeat center center;
}

.icon-star-2 {
    background: url('icons/star_2.png') no-repeat center center;
}

.icon-electro-1 {
    background: url('icons/electro_1.png') no-repeat center center;
}

.icon-music-2 {
    background: url('icons/music_2.png') no-repeat center center;
}

.icon-stop-cr {
    background: url('icons/stop_cr.png') no-repeat center center;
}

.icon-electro-2-no {
    background: url('icons/electro_2_no.png') no-repeat center center;
}

.icon-news-2-add {
    background: url('icons/news_2_add.png') no-repeat center center;
}

.icon-stop-sq {
    background: url('icons/stop_sq.png') no-repeat center center;
}

.icon-electro-2 {
    background: url('icons/electro_2.png') no-repeat center center;
}

.icon-news-2-minus {
    background: url('icons/news_2_minus.png') no-repeat center center;
}

.icon-sun-1 {
    background: url('icons/sun_1.png') no-repeat center center;
}

.icon-exclamation-crnews-2 {
    background: url('icons/exclamation_cr.pngnews_2.png') no-repeat center center;
}

.icon-sun-2 {
    background: url('icons/sun_2.png') no-repeat center center;
}

.icon-exclamation-trnews {
    background: url('icons/exclamation_tr.pngnews.png') no-repeat center center;
}

.icon-sun-3 {
    background: url('icons/sun_3.png') no-repeat center center;
}

.icon-eye-1 {
    background: url('icons/eye_1.png') no-repeat center center;
}

.icon-next-cr {
    background: url('icons/next_cr.png') no-repeat center center;
}

.icon-sun-4 {
    background: url('icons/sun_4.png') no-repeat center center;
}

.icon-eye-2-no {
    background: url('icons/eye_2_no.png') no-repeat center center;
}

.icon-next-sq {
    background: url('icons/next_sq.png') no-repeat center center;
}

.icon-sword {
    background: url('icons/sword.png') no-repeat center center;
}

.icon-eye-2 {
    background: url('icons/eye_2.png') no-repeat center center;
}

.icon-no-1 {
    background: url('icons/no_1.png') no-repeat center center;
}

.icon-table {
    background: url('icons/table.png') no-repeat center center;
}

.icon-fan {
    background: url('icons/fan.png') no-repeat center center;
}

.icon-no-2 {
    background: url('icons/no_2.png') no-repeat center center;
}

.icon-tablet-add {
    background: url('icons/tablet_add.png') no-repeat center center;
}

.icon-fix-1 {
    background: url('icons/fix_1.png') no-repeat center center;
}

.icon-no-3 {
    background: url('icons/no_3.png') no-repeat center center;
}

.icon-tablet-minus {
    background: url('icons/tablet_minus.png') no-repeat center center;
}

.icon-fix-2 {
    background: url('icons/fix_2.png') no-repeat center center;
}

.icon-no-cr-1 {
    background: url('icons/no_cr-1.png') no-repeat center center;
}

.icon-tablet {
    background: url('icons/tablet.png') no-repeat center center;
}

.icon-flag-1 {
    background: url('icons/flag_1.png') no-repeat center center;
}

.icon-no-cr {
    background: url('icons/no_cr.png') no-repeat center center;
}

.icon-tarch-5 {
    background: url('icons/tarch_5.png') no-repeat center center;
}

.icon-flag-2 {
    background: url('icons/flag_2.png') no-repeat center center;
}

.icon-no-sq {
    background: url('icons/no_sq.png') no-repeat center center;
}

.icon-tea-1 {
    background: url('icons/tea_1.png') no-repeat center center;
}

.icon-flag-3 {
    background: url('icons/flag_3.png') no-repeat center center;
}

.icon-notification-notemperature-1 {
    background: url('icons/notification_no.pngtemperature_1.png') no-repeat center center;
}

.icon-flag-4 {
    background: url('icons/flag_4.png') no-repeat center center;
}

.icon-notification {
    background: url('icons/notification.png') no-repeat center center;
}

.icon-temperature-2 {
    background: url('icons/temperature_2.png') no-repeat center center;
}

.icon-flat-1-exp {
    background: url('icons/flat_1_exp.png') no-repeat center center;
}

.icon-paint-1 {
    background: url('icons/paint_1.png') no-repeat center center;
}

.icon-tes-2 {
    background: url('icons/tes_2.png') no-repeat center center;
}

.icon-flat-1-love {
    background: url('icons/flat_1_love.png') no-repeat center center;
}

.icon-paint-2 {
    background: url('icons/paint_2.png') no-repeat center center;
}

.icon-tes-3 {
    background: url('icons/tes_3.png') no-repeat center center;
}

.icon-flat-1-minus {
    background: url('icons/flat_1_minus.png') no-repeat center center;
}

.icon-paint-brush {
    background: url('icons/paint_brush.png') no-repeat center center;
}

.icon-tes-4 {
    background: url('icons/tes_4.png') no-repeat center center;
}

.icon-flat-1-plus {
    background: url('icons/flat_1_plus.png') no-repeat center center;
}

.icon-pants-1 {
    background: url('icons/pants_1.png') no-repeat center center;
}

.icon-text {
    background: url('icons/text.png') no-repeat center center;
}

.icon-flat-1 {
    background: url('icons/flat_1.png') no-repeat center center;
}

.icon-pants-2 {
    background: url('icons/pants_2.png') no-repeat center center;
}

.icon-thumb {
    background: url('icons/thumb.png') no-repeat center center;
}

.icon-flat-1-star {
    background: url('icons/flat_1_star.png') no-repeat center center;
}

.icon-paper-1-add {
    background: url('icons/paper_1_add.png') no-repeat center center;
}

.icon-tiles {
    background: url('icons/tiles.png') no-repeat center center;
}

.icon-flat-2-love {
    background: url('icons/flat_2_love.png') no-repeat center center;
}

.icon-paper-1-minus {
    background: url('icons/paper_1_minus.png') no-repeat center center;
}

.icon-time-1-add {
    background: url('icons/time_1_add.png') no-repeat center center;
}

.icon-flat-2-minus {
    background: url('icons/flat_2_minus.png') no-repeat center center;
}

.icon-paper-1-pinnedtime-1-exp {
    background: url('icons/paper_1_pinned.pngtime_1_exp.png') no-repeat center center;
}

.icon-flat-2-plus {
    background: url('icons/flat_2_plus.png') no-repeat center center;
}

.icon-paper-1 {
    background: url('icons/paper_1.png') no-repeat center center;
}

.icon-time-1-minus {
    background: url('icons/time_1_minus.png') no-repeat center center;
}

.icon-flat-2-star {
    background: url('icons/flat_2_star.png') no-repeat center center;
}

.icon-paper-1-text {
    background: url('icons/paper_1_text.png') no-repeat center center;
}

.icon-time-1 {
    background: url('icons/time_1.png') no-repeat center center;
}

.icon-flower {
    background: url('icons/flower.png') no-repeat center center;
}

.icon-paper-2-minus {
    background: url('icons/paper_2_minus.png') no-repeat center center;
}

.icon-time-2 {
    background: url('icons/time_2.png') no-repeat center center;
}

.icon-folder-1 {
    background: url('icons/folder_1.png') no-repeat center center;
}

.icon-paper-2-plus {
    background: url('icons/paper_2_plus.png') no-repeat center center;
}

.icon-train-1 {
    background: url('icons/train_1.png') no-repeat center center;
}

.icon-folder-2 {
    background: url('icons/folder_2.png') no-repeat center center;
}

.icon-paper-2 {
    background: url('icons/paper_2.png') no-repeat center center;
}

.icon-train-2 {
    background: url('icons/train_2.png') no-repeat center center;
}

.icon-folder-3 {
    background: url('icons/folder_3.png') no-repeat center center;
}

.icon-paper-3-add {
    background: url('icons/paper_3_add.png') no-repeat center center;
}

.icon-underpants-1 {
    background: url('icons/underpants_1.png') no-repeat center center;
}

.icon-folder-4 {
    background: url('icons/folder_4.png') no-repeat center center;
}

.icon-paper-3-exp {
    background: url('icons/paper_3_exp.png') no-repeat center center;
}

.icon-underpants-2 {
    background: url('icons/underpants_2.png') no-repeat center center;
}

.icon-folder-5 {
    background: url('icons/folder_5.png') no-repeat center center;
}

.icon-paper-3-minus {
    background: url('icons/paper_3_minus.png') no-repeat center center;
}

.icon-upload-1 {
    background: url('icons/upload_1.png') no-repeat center center;
}

.icon-folders {
    background: url('icons/folders.png') no-repeat center center;
}

.icon-paper-3 {
    background: url('icons/paper_3.png') no-repeat center center;
}

.icon-video-1 {
    background: url('icons/video_1.png') no-repeat center center;
}

.icon-gamble-chck {
    background: url('icons/gamble_chck.png') no-repeat center center;
}

.icon-paper-specs {
    background: url('icons/paper_specs.png') no-repeat center center;
}

.icon-video-2 {
    background: url('icons/video_2.png') no-repeat center center;
}

.icon-gamble-roll {
    background: url('icons/gamble_roll.png') no-repeat center center;
}

.icon-pause-cr {
    background: url('icons/pause_cr.png') no-repeat center center;
}

.icon-video-clip {
    background: url('icons/video_clip.png') no-repeat center center;
}

.icon-game-pad-non-wirepause-sq {
    background: url('icons/game_pad_non_wire.pngpause_sq.png') no-repeat center center;
}

.icon-vine {
    background: url('icons/vine.png') no-repeat center center;
}

.icon-game-pad-wire {
    background: url('icons/game_pad_wire.png') no-repeat center center;
}

.icon-pc-1 {
    background: url('icons/pc_1.png') no-repeat center center;
}

.icon-wallet {
    background: url('icons/wallet.png') no-repeat center center;
}

.icon-gear-1 {
    background: url('icons/gear_1.png') no-repeat center center;
}

.icon-pc-2 {
    background: url('icons/pc_2.png') no-repeat center center;
}

.icon-wind {
    background: url('icons/wind.png') no-repeat center center;
}

.icon-gear-2 {
    background: url('icons/gear_2.png') no-repeat center center;
}

.icon-pen-1 {
    background: url('icons/pen_1.png') no-repeat center center;
}

.icon-world-1 {
    background: url('icons/world_1.png') no-repeat center center;
}

.icon-gear-3 {
    background: url('icons/gear_3.png') no-repeat center center;
}

.icon-pen-2-minus {
    background: url('icons/pen_2_minus.png') no-repeat center center;
}

.icon-world-2 {
    background: url('icons/world_2.png') no-repeat center center;
}

.icon-gear-4 {
    background: url('icons/gear_4.png') no-repeat center center;
}

.icon-pen-2-plus {
    background: url('icons/pen_2_plus.png') no-repeat center center;
}

.icon-world-3 {
    background: url('icons/world_3.png') no-repeat center center;
}

.icon-gift-1 {
    background: url('icons/gift_1.png') no-repeat center center;
}

.icon-pen-2 {
    background: url('icons/pen_2.png') no-repeat center center;
}

.icon-X-simple-1 {
    background: url('icons/X_simple_1.png') no-repeat center center;
}

.icon-gift-2 {
    background: url('icons/gift_2.png') no-repeat center center;
}

.icon-phone-no {
    background: url('icons/phone_no.png') no-repeat center center;
}

.icon-X-simple-2 {
    background: url('icons/X_simple_2.png') no-repeat center center;
}

.icon-gpu-1 {
    background: url('icons/gpu_1.png') no-repeat center center;
}

.icon-phone {
    background: url('icons/phone.png') no-repeat center center;
}

.icon-zoom-1 {
    background: url('icons/zoom_1.png') no-repeat center center;
}

.icon-gpu-cr {
    background: url('icons/gpu_cr.png') no-repeat center center;
}

.icon-pic-1-add {
    background: url('icons/pic_1_add.png') no-repeat center center;
}

.icon-zoom-2 {
    background: url('icons/zoom_2.png') no-repeat center center;
}

.icon-hash-1 {
    background: url('icons/hash_1.png') no-repeat center center;
}

.icon-pic-1-minus {
    background: url('icons/pic_1_minus.png') no-repeat center center;
}

.icon-zoom-out-1 {
    background: url('icons/zoom_out_1.png') no-repeat center center;
}

.icon-hash-2 {
    background: url('icons/hash_2.png') no-repeat center center;
}

.icon-pic-1 {
    background: url('icons/pic_1.png') no-repeat center center;
}

.icon-zoom-out-2 {
    background: url('icons/zoom_out_2.png') no-repeat center center;
}

.icon-headphones-1 {
    background: url('icons/headphones_1.png') no-repeat center center;
}

.icon-pic-2 {
    background: url('icons/pic_2.png') no-repeat center center;
}

.icon-headphones-2 {
    background: url('icons/headphones_2.png') no-repeat center center;
}

.icon-pic-big-1 {
    background: url('icons/pic_big_1.png') no-repeat center center;
}